<div id="g_id_onload"
     data-client_id="146243868267-n40i568t8hmufauoj6tc28klp8fr42oh.apps.googleusercontent.com"
     data-context="signin"
     [attr.data-login_uri]="environment.loginRedirectURi"
     data-itp_support="true">
</div>

<div class="g_id_signin"
      data-type="standard"
      data-shape="pill"
      data-theme="filled_blue"
      data-text="signin_with"
      data-size="large"
      data-logo_alignment="left">
</div>  

<div class="g-signin2" data-onsuccess="onSignIn"></div>
