<div class="d-flex flex-row align-center justify-content-center">
  <form [formGroup]="imageForm" class="d-flex flex-column align-center w-25 mt-4" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="userId" hidden>

    <mat-form-field class="mt-4">
      <input matInput placeholder="Image Name" formControlName="imageName">
    </mat-form-field>

    <button mat-raised-button class="mt-2" type="button" (click)="fileInput.click()">Choose File</button>
    <input type="file" #fileInput hidden (change)="onFileSelected($event)" id="file">

    <button mat-raised-button class="mt-4" color="primary" type="submit" [disabled]="imageForm.invalid">Upload</button>
  </form>
</div>